html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CUL';
  src: url('./Fonts/CUL/Vortigra.otf') format('opentype');
  font-style: normal;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.txt {
  text-align: center;
}
.sec4bg {
  background-size: cover;
  min-height: 100vh;
}
.SM {
  color: pink;
  margin-right: 20px;
}
.sec6txt {
  font-size: 60px;
  text-align: center;
}

.sec1_img {
  width: 100%;
  height: 100%;
}

.sec5txt {
  position: sticky;
  top: 0;
}

.sec5img7 {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.txt-image {
  height: 20px;
}

.footer2 {
  position: relative;
}

.line {
  background: linear-gradient(
    90deg,
    rgba(153, 153, 153, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(153, 153, 153, 0.5) 100%
  );
}
