@tailwind base;
@tailwind components;
@tailwind utilities;

@import "pretendard/dist/web/static/pretendard.css";

@font-face {
  font-family: 'CUL';
  src: url('./Fonts/CUL/Vortigra.otf') format('opentype');
  font-style: normal;
}

.en {
  font-family: 'CUL';
}

body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
